.header{
  color:#ffcccc;
  text-align: center;
  padding-bottom: 10px;
}

.fridgeImage{
  padding-top: 30px;;
}

li{
  list-style: none;
  display: inline;
}

.nav{ 
  text-align: center;
}

.home-nav{
  color: red;
  text-decoration: none;
  padding: 5px;
  margin: 30px;
}

.home-nav:hover{
  color: purple;
  border: 1px solid red;
}

.home-nav:active{
  color: blue;
}

.randomrecipe-nav{
  color: red;
  text-decoration: none;
  padding: 5px;
  margin: 30px;
}

.randomrecipe-nav:hover{
  color: purple;
  border: 1px solid red;
}

.searchbyingredients-nav{
  color: red;
  text-decoration: none;
  padding: 5px;
  margin: 30px;
}

.searchbyingredients-nav:hover{
  color: purple;
  border: 1px solid red;
}

.searchbycuisine-nav{
  color: red;
  text-decoration: none;
  padding: 5px;
  margin: 30px;
}

.searchbycuisine-nav:hover{
  color: purple;
  border: 1px solid red;
}


.home-title h2{
  font-size: 30px;
  color: #696969;
  padding-top: 50px;
}

.line{
  margin-top: 40px;
}

.randomRecipesCards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.cards{
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 40%;
  color: #333;
  flex-basis: width;
  background: linear-gradient(to bottom, #ffffff 0%, #ffcccc 100%);
}

div.footer{
  position: fixed;
  bottom: 5px;
  right: 0;
  width: 230px;
  padding: 10px;
  border: 2px solid rgb(33, 124, 33);
  background-color: rgb(172, 233, 157);
}

.footer p{
  display:inline; 
  color:rgb(1, 33, 41);
  padding: 5px;
}
.footer button{
  border: none;
  padding: 10px;
  background-color: rgb(240, 236, 220);
  border-radius: 12px;

}
.footer button:hover{
  background-color: rgb(61, 58, 58);
  color:rgb(184, 231, 243);
  cursor: pointer;
}

.cuisine-nav{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-row-gap: 10px;
  padding: 30px;
  color:rgb(33, 124, 33);
}

.ingre{
  padding-top: 25px;
}

.searchbyingredientStep{
  line-height: 50px;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
